* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body,
html,
#root {
  height: 100%;
  background-color: #131826;
}

#main-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#about-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  position: relative;
}

#profile {
  width: 80%;
  height: 50vh;
  max-height: 700px;
  min-height: 350px;
  max-width: 500px;
  min-width: 300px;
  background-image: url(./assets/perfil.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
}

#name {
  color: white;
  font-size: 3em;
  padding-left: 10px;
  padding-bottom: 5px;
  font-family: "Playfair Display", serif;
}

#about-div,
#work-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-title {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  margin: 50px 0;
  color: rgb(128, 162, 255);
}

.about-text {
  color: #98a1ae;
  font-size: 1.4em;
  width: 90%;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 20px;
}

#socials {
  text-align: center;
  margin-top: 20px;
}

.socialIcon:hover {
  filter: invert(66%) sepia(9%) saturate(429%) hue-rotate(176deg)
    brightness(97%) contrast(88%);
  transform: scale(1.1);
}

.socialIcon {
  width: 10%;
  max-width: 200px;
  filter: invert(100%) sepia(0%) saturate(1401%) hue-rotate(217deg)
    brightness(115%) contrast(100%);
  transition: 0.3s all;
}

.socialIcon:last-of-type {
  margin-left: 10px;
}

#work-cont {
  margin-top: 50px;
}

#projects-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.project-cont {
  width: 90%;
  max-width: 500px;
  background-color: white;
  margin-bottom: 50px;
  transition: 0.3s all;
  border-radius: 10px;
}

.project-cont:hover {
  transform: scale(1.05);
  box-shadow: rgba(128, 1680, 25593, 0.25) 0px 30px 60px -12px,
    rgba(128, 168, 255, 0.3) 0px 18px 36px -18px;
}

.project-img {
  width: 100%;
  height: 60%;
  object-fit: fill;
  object-position: 52%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-info {
  display: flex;
  padding-bottom: 20px;
}

.project-title {
  margin-right: auto;
  margin-left: 5%;
  font-family: "Playfair Display", serif;
}

.project-icon {
  width: 10%;
  margin: 0 5px;
  transition: 0.3s all;
}

.project-icon:hover {
  filter: invert(34%) sepia(5%) saturate(1044%) hue-rotate(175deg)
    brightness(86%) contrast(78%);

  transform: scale(1.1);
}

.project-desc {
  color: #53585f;
  margin: 0 20px 50px 20px;
  box-sizing: border-box;
  height: 50px;
}

@media screen and (min-width: 800px) {
  #about-cont {
    flex-direction: row;
  }
  #profile {
    margin-left: 30px;
  }
}
