* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body,
html,
#root {
  height: 100%;
  background-color: #131826;
}

#main-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#about-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  position: relative;
}

#profile {
  width: 80%;
  height: 50vh;
  max-height: 700px;
  min-height: 350px;
  max-width: 500px;
  min-width: 300px;
  background-image: url(./perfil.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
}

#name {
  color: white;
  font-size: 3em;
  padding-left: 10px;
  padding-bottom: 5px;
  font-family: "Playfair Display", serif;
}

#about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-title {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  margin-top: 20px;
  color: #80a2ff;
}

.about-text {
  color: #98a1ae;
  font-size: 1.4em;
  width: 90%;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 20px;
}

#socials {
  text-align: center;
  margin-top: 20px;
}

.socialIcon:hover {
  filter: invert(66%) sepia(9%) saturate(429%) hue-rotate(176deg)
    brightness(97%) contrast(88%);
  transform: scale(1.1);
}

.socialIcon {
  width: 10%;
  max-width: 200px;
  filter: invert(100%) sepia(0%) saturate(1401%) hue-rotate(217deg)
    brightness(115%) contrast(100%);
  transition: 0.3s all;
}

.socialIcon:last-of-type {
  margin-left: 10px;
}

@media screen and (min-width: 800px) {
  #about-cont {
    flex-direction: row;
  }
  #profile {
    margin-left: 30px;
  }
}
